ion-content{  
  background-color:  #01226D !important;
  
  color: #fff !important;
}



ion-toolbar, ion-card{ 
    background-color: #003791 !important;
    color: #fff !important;
  }


  .atras{
      color:white !important;
      width: 35px;
    height: 27px;
    }

    ion-card-title{font-weight: bold !important;
      font-size: 1.7em !important;}
    p{
      font-weight: bold !important;
      font-size: 1.2em !important;
    }

   
    iframe { margin:0; padding:0; height:100%; }
    iframe { display:block; width:100%; border:none; }
    iframe:focus { 
      outline: none;
    }
    
    iframe[seamless] { 
      display: block;
    }