.insert{
    height:95% !important; 
    width:100% !important;
}


.moneda{
    height:5% !important; 
    width:8% !important;
    margin-left: 85% !important;
    margin-top: -20% !important;
}


ion-content{
    height:100% !important;
    width: 100% !important;
    --ion-background-color:rgb(0, 0, 0) !important;
 }