<ion-header>
  
  <!--Barra toolbar-->
  <ion-toolbar color="#003791">
   
    <ion-title style="color:#fff">
      Registrarte
    </ion-title>
  </ion-toolbar>
  <!--Se acaba el header-->
</ion-header>

<!--Empezamos donde meteremos la informacion-->
<ion-content style="background-image: url('/assets/fotos/fondo.gif')">

  <img  class ="fondo" src="/assets/fotos/fondo.gif" />

  <div class="login">
    <form class="form" [formGroup]="validations_form">
 
      <ion-label position="floating" > Nombre</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="name" name="name"></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
            {{ validation.message }}
          </div>
          </ng-container>
        </div>

      <ion-label position="floating" > Correo electrónico</ion-label>
      <ion-input type="text" [(ngModel)]="email" formControlName="email" name="email"></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-label position="floating" > Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" formControlName="password"  name="password"></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    <br>
    <ion-button [disabled]="!validations_form.valid" (click)="Registrar()" expand="block">Registrarte</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <br>
    </form>
    <ion-label>¿Tienes Cuenta?</ion-label><a text-center routerLink="/inicio-sesion" class="crear"> Inicia Sesión</a>
  </div>



</ion-content>
