<ion-header>

  <!--Barra toolbar-->
  <ion-toolbar color="#2C1C3E">
    <ion-buttons style="color:white" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white">
       {{ "Acerca De" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Empezamos donde meteremos la informacion-->
<ion-content color="#140B1C" class="fixed-scroll">
  <ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-icon name="logo-game-controller-b"></ion-icon>
        <h1>Insert Coin</h1>
        <p>{{"Insert Coin es una aplicación desarrollada y destinada a los gamers. En donde podremos ver tanto noticias y juegos de las distintas  plataformas, como poder hablar por las diversas comunidades." | translate}}
        </p>
    </ion-slide>

    <ion-slide class="step-two">
        <ion-icon name="logo-ionic"></ion-icon>
        <h1>{{"Aplicación realizada con ionic 4." | translate}}</h1>
        <p>{{"Ionic Framework V4 es un gran avance en la tecnología subyacente y las capacidades del proyecto, con un enfoque en el rendimiento,  la compatibilidad y la extensibilidad general. Aunque V4 aún se integra profundamente con Angular." | translate}}
        </p>
    </ion-slide>

    <ion-slide class="step-three">
        <ion-icon name="flame"></ion-icon>
        <h1>Firebase</h1>
        <p>{{"Firebase es la nueva y mejorada plataforma de desarrollo móvil en la nube de Google. Se trata de una plataforma disponible    para diferentes plataformas (Android, iOS, web), con lo que de esta forma presentan una alternativa seria a otras opciones  para ahorro de tiempo en el desarrollo." | translate}}</p>
    </ion-slide>
</ion-slides>

</ion-content>