// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
ion-toolbar{ 
    background-color: #003350 ;
  }
  
  
ion-content{
    background-color: #001A28 ;
} 

ion-list{
    background-color: #001A28 !important ;
}

ion-label, ion-select, ion-select-option{
    font-weight: bold !important;
      font-size: 1.1em !important;
      color: white;
}

ion-icon{
  color: white;
}
ion-title{
    font-weight: bold !important;
    text-align: center;
    color: white;
    font-size: 1.5em !important;
  }

  .refresher-md .refresher-pulling-icon, .refresher-md .refresher-pulling-text,
  .refresher-md .refresher-refreshing-icon, .refresher-md .refresher-refreshing-text ,.spinner-lines{

    color:white !important;
  }

  //necesario para abrir modal
  .modal {
    display: flex !important;
    }